@import '../../themes';

.Editor {
    position: relative;

    border-radius: 4px;

    @media screen and (max-width: $phone) {
        margin-right: 0;
        margin-left: 0;

        border: none;
    }

    &-Header {
        font-family: var(--font);
        font-size: var(--font-s);
        line-height: var(--line-m);

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        border-radius: 4px;

        &_border-v {
            &_ghost {
                border-top: 1px solid var(--border-ghost);
                border-bottom: 1px solid var(--border-ghost);
            }
        }

        &_indentH {
            &_s {
                padding-right: var(--space-s);
                padding-left: var(--space-s);
            }

            &_m {
                padding-right: var(--space-m);
                padding-left: var(--space-m);
            }
        }

        &_indentV {
            &_s {
                padding-top: var(--space-xxs);
                padding-bottom: 6px;
            }

            &_m {
                padding-top: 13px;
                padding-bottom: 10px;
            }
        }

        &_color {
            &_default {
                background: var(--editor-header);
            }

            &_pale {
                background: var(--pale);
            }
        }

        @media screen and (max-width: $phone) {
            padding-top: var(--space-xxs);
            padding-bottom: 6px;

            border-radius: 0;
        }
    }

    &-HeaderItem {
        display: flex;
        align-items: center;
    }

    &-ByteCount {
        font-size: var(--font-xs);
        line-height: var(--line-m);

        margin-left: var(--space-xxxs);

        color: var(--faded);
    }

    &-Action {
        box-sizing: border-box;
        width: 38px;
        height: 28px;

        border: 1px solid #ccc;
        border-radius: 3px;
        background-image: url('images/download.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    &-Body {
        font-family: var(--editor-font);
        font-size: var(--font-xxs);
        line-height: var(--line-m);

        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        overflow: auto;
        padding: 0 20px 20px 20px;

        &_border {
            &_collapse {
                border-collapse: collapse;

                & .Editor-Number {
                    @media screen and (max-width: $phone) {
                        width: 27px;
                    }
                }
            }
        }

        &_color {
            &_main {
                color: var(--editor-main);
            }
        }

        @media screen and (max-width: $phone) {
            padding-right: var(--space-m);
            padding-left: var(--space-m);
        }
    }

    &-Info {
        display: flex;

        @media screen and (max-width: $phone) {
            justify-content: space-between;

            width: 100%;
            margin-top: var(--space-xs);
        }
    }

    &-InfoItem {
        margin-right: var(--space-m);

        &:last-of-type {
            margin-right: 0;
        }
    }

    &-M {
        font-weight: bold;

        margin-right: var(--space-s);

        text-transform: uppercase;
    }
}
