@import '../../themes';

.Tabs {
	display: flex;

	letter-spacing: -.4px;
	text-transform: uppercase;

	font-size: var(--font-m);
	font-weight: bold;
	font-family: var(--font);
	line-height: var(--line-m);
	padding-bottom: 10px;
	border-bottom: 1px solid var(--border-faded);

	&-Item {
		margin-right: var(--space-xxl);

		color: var(--secondary);

		cursor: pointer;

		&_state {
			&_active {
				position: relative;

				color: var(--primary);

				cursor: auto;

				&:after {
					position: absolute;
					right: 0;
					bottom: -12px;
					left: 0;

					width: 100%;
					height: .5em;

					content: '';

					border-bottom: 2px solid var(--border);
				}
			}
		}
	}
}
