@import '../../themes';

.IconPlus {
	display: inline-flex;
	align-items: center;

	color: var(--primary);

	&-Icon {
		width: 12px;
		height: 12px;
		margin-right: var(--space-xxs);

		background-repeat: no-repeat;
		background-position: center;

		&_type {
			&_dir {
				background-image: url('images/dir.svg');
			}

			&_text {
				background-image: url('images/text.svg');
			}

			&_branch {
				background-image: url('images/branch.svg');
			}

			&_file {
				background-image: url('images/file.svg');
			}
		}
	}
}
