@import './../../themes';

.Table {
	box-sizing: border-box;
	width: 100%;

	color: var(--primary);
	border-collapse: collapse;

	font-family: var(--font);
	font-size: var(--font-s);
	line-height: var(--line-m);

	&-Head {
		font-weight: normal;

		@media screen and (max-width: $phone) {
			display: none;
		}
	}


	&-Row {
		border-bottom: 1px solid var(--border-faded);
		position: relative;
		@media screen and (max-width: $phone) {
			display: flex;

			&_type {
				&_file {
					flex-wrap: wrap;

					& .Table-Cell {
						padding: 5px 0;
					}

					& .Table-Cell_type_name {
						order: 0;
					}
					& .Table-Cell_type_message {
						order: 1;
						width: 100%;
					}
					& .Table-Cell_type_commit {
						order: 2;
						width: auto;
						padding-right: 20px;
						position: relative;
						&:after {
							content: 'by';
							position: absolute;
							top: 5px;
							right: 0;
						}
					}
					& .Table-Cell_type_committer {
						order: 3;
						width: auto;
						position: relative;
						padding-left: 5px;
						&:after {
							content: ',';
							position: absolute;
						}
					}
					& .Table-Cell_type_updated {
						order: 4;
						width: auto;
						padding-left: 7px;
					}
					& .Table-Cell_type_arrow {
						top: 39%;
					}
				}
				&_branch {
					flex-direction: column;

					& .Table-Cell_type_arrow {
						top: 29%;
					}
				}
			}
		}

	}

	&-Cell {
		padding: var(--space-m) 0 var(--space-s);

		text-align: left;

		font-weight: normal;

		&_type {
			&_name {
				width: 16%;
				@media screen and (max-width: $phone) {
					width: 100%;
				}
			}
			&_commit {
				width: 17%;
			}
			&_message {
				width: 31%;
			}
			&_committer {
				width: 10%;
			}
			&_updated {
				width: 15%;
			}
			&_arrow {
				display: none;
				@media screen and (max-width: $phone) {
					display: block;
					position: absolute;
					right: 1%;
					color: var(--faded);
				}
			}
		}

		&:nth-last-child(2) {
			text-align: right;
		}

		&:first-child {
			text-align: left;
		}

		@media screen and (max-width: $phone) {
			padding: 10px 0;
			&:first-of-type {
				padding-top: 15px;
				padding-bottom: 0;
			}
			&:nth-last-child(2) {
				padding-bottom: 15px;
			}
		}

		&_type {
			&_head {
				color: var(--ghost);

				&:nth-last-child(2) {
					text-align: left;
				}
				&:last-child {
					text-align: right;
				}
				&:first-child {
					text-align: left;
				}
			}
		}

		&_weight_bold {
			font-weight: bold;
		}
	}
}
